body{
    background-color: #ffe4c4;
}

.header{

}

.posts{
    background-color: #ffe4c4;
    top: 0;
    left: 0;
    height: 20em;
    width: 100%;
    overflow-y: scroll;
}

.post{
    color: #c0c0c0;
}

.post .name{
    font-weight: bold;
    width: 20%;
}
.post .message{
}
.post .time{
    font-size: .74em;

}